

{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<h1>Welcome to the Home Page</h1>
    </p>
        This website is not secure, try to raise all the alarms and see them <a href="http://10.212.8.52:5601/app/dashboards#/view/5de3a660-d0f5-11ef-acf1-df409e20dd29?_g=(filters:!(),refreshInterval:(pause:!t,value:0),time:(from:now-30m,to:now))">here</a>.

    <p>
        Made by FRADET Paul and BRUNNER Titouan, The French Guys
    </p>
    <img src="{{ url_for('static', filename='images/drapeau_france.png') }}" alt="Drapeau français"> 

{% endblock %}
