

{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<center>
    <h1>Welcome to the Home Page</h1>
    <p>
        This is a fake unsecure website
    </p>
    <p>
        This website is not secure, find different ways (3) to connect into the server without being seen by ELK.
    <p>
        Made by FRADET Paul and BRUNNER Titouan, The French Guys
    </p>
    <img src="{{ url_for('static', filename='images/drapeau_france.png') }}" alt="Drapeau français"> 
</center>
<style>
    body {
      background-image: url("{{ url_for('static', filename='images/cybersecurity_background.jpg') }}");
      background-repeat: no-repeat; /* Empêche l'image de se répéter */
      background-size: cover; /* Ajuste l'image pour couvrir toute la page */
    }
  </style>
    
{% endblock %}
